[submodule "TreeViewAdv"]
	url = https://github.com/tryashtar/TreeViewAdv
	path = TreeViewAdv
[submodule "HexBox"]
	path = HexBox
	url = https://github.com/tryashtar/HexBox
[submodule "fNbt"]
	path = fNbt
	url = https://github.com/tryashtar/fNbt
[submodule "utils.utility"]
	path = utils.utility
	url = https://github.com/tryashtar/utils.utility
[submodule "utils.forms"]
	path = utils.forms
	url = https://github.com/tryashtar/utils.forms
[submodule "utils.nbt"]
	path = utils.nbt
	url = https://github.com/tryashtar/utils.nbt
