[submodule "TreeViewAdv"]
	url = https://github.com/tryashtar/TreeViewAdv
	path = TreeViewAdv
[submodule "HexBox"]
	path = HexBox
	url = https://github.com/tryashtar/HexBox
[submodule "utils"]
	path = utils
	url = https://github.com/tryashtar/utils
